.package{
  display: grid;
  grid-template-areas: "h h"
  "hd hd"
  "dd dd"
  "re re"
  "ln ln"
  "ot ot"
  "middle middle";
"mn mn"
"secBack secBack"
"ourPic ourPic"
"foot foot"
grid-template-columns: 2fr 10fr;
  grid-template-rows: 35px 10fr;
}
body{
  overflow-x: hidden;

}